/* 
* KNOWN ISSUES: 
* aligning flex itmems in <aside> popular posts (flex-start??)
* aligning main article/title flex items  (flex-start??)
* Why does the content of my main area shrink when I type in an input box or literally do any kind of clicking on the page?
*/


body {
    margin: 0;
    color: rgb(105, 105, 105);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

/*BELOW IS HEADER CONTENT*/

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border-bottom: 5px solid rgba(121, 121, 121, 0.3);
    margin-bottom: 2%;
    box-shadow: 0px 0px 40px 40px rgba(224, 222, 222, 0.3);
}

.dropbtn {
    display: none;
}

nav {
 margin-right: 18%;
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%;
    margin: 0;
}

nav ul li {
    padding: 40px 15px 21px 15px;
    border-right: 1px solid rgba(36, 35, 35, 0.5);
    border-radius: 1px;
}

li:hover {
    background-color: rgba(41, 41, 41, 0.82)
}

 a:hover {
    color: rgb(106, 158, 179);
}

a {
    color:rgb(179, 178, 178);
    text-decoration: none;
}

p {
    line-height: 20px;
    opacity: 90%;
}


header h1 {
    margin-left: 19%;
    margin-right: auto;
}

header, footer {
    background-color: rgba(36, 36, 36, 0.9);
    color: rgb(179, 178, 178);
}

/*ABOVE IS HEADER CONTENT*/

/*BELOW IS MAIN CONTENT*/

.flex-container {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

main {
    margin-right: 20px;
    width: 40%;
} 

#main-title {
    display: flex;
    justify-content: space-around;
}

#title-border {
    padding: 15px 0;
    border-bottom: 2px dotted rgba(172, 172, 172, 0.3);
}

#date-circle {
    background-color: rgb(252, 238, 218);
    border: 1px solid transparent;
    border-radius: 50%;
    margin-right: 10px;
    text-align: center;
    height: 90px;
    width: 90px;
}

span {
    color:rgb(106, 158, 179);
}

#main-pic {
    width: 100%;
}

#main-article, #responses-bottom-border {
    padding-bottom: 10px;
    border-bottom: 2px dotted rgba(172, 172, 172, 0.3);
    margin-bottom: 10px;
}

#responses-bottom-border {
    padding-top: 20px;
    border-top: 2px dotted rgba(172, 172, 172, 0.3);
    margin-top: 20px;
}

#related-posts-container {
    display: flex;
    justify-content: space-around;
}

.related-posts-inline, .responses-img {
    width: auto;
    height: 125px;
    padding: 5px;
}

#response1 {
    padding: 10px;
    display: flex;
    flex-direction: row;
}

#stinson-box, #mosby-box {
    background-color: rgba(241, 241, 241, 0.6);
    padding: 2px 10px;
    border: 1px solid rgba(172, 172, 172, 0.3);
    border-radius: 2px;
    margin: 10px;
}

#mosby-article {
    margin-left: 50px;
    padding: 10px;
    display: flex;
    flex-direction: row;
}

form {
    margin: 10px 0;
}

#name, #email, #website {
    width: 100%;
    height: 24px;
    margin: 10px 0;
}

#comment {
    width: 100%; 
    height: 200px;
    margin: 10px 0;
}

/*ABOVE IS MAIN CONTENT*/

/*BELOW IS ASIDE CONTENT*/

aside {
    width: 20%;
}
.popularposts-border {
    padding-bottom: 10px;
    border-bottom: 2px dotted rgba(172, 172, 172, 0.3);
    margin-bottom: 60px;
}

#search {
   width: 200px;
   height: 24px;
   border: 1px solid rgba(199, 199, 199, 0.6);
   border-radius: 2px;
   margin-bottom: 60px;
}

#custom-text {
    padding-top: 10px;
    border-top: 2px dotted rgba(172, 172, 172, 0.3);
}

.aside-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 10px;
}

.aside-border {
    padding-left: 30px;
    border-left: 2px dotted rgba(172, 172, 172, 0.3);
}

.post-img {
    width: 70px;
    height: 70px;
    padding-right: 10px;
}

/*ABOVE IS ASIDE CONTENT*/

/*BELOW IS FOOTER CONTENT*/

footer {
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 14px;
    border-top: 4px solid rgba(24, 24, 24, 0.520);
}

section {
    margin: 0 18%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

section p, section a {
    opacity: 75%;
}

.footer-inline {
    width: 200px;
    padding: 10px;
}

#firstname, #lastname, #textarea, #submit-buttom {
    color: white;
    width: 250px;
    height: 24px;
    margin: 2% 0;
    background: rgba(24, 24, 24, 0.820);
    border: transparent;
    border-radius: 2px;
    box-shadow: 0 0 2px 1px rgb(68, 68, 68);
}
#textarea {
    height: 150px;
}
#small-fixed-header {
    background-color: rgb(44, 44, 44);
    width: 100%;
    border-top:2px solid rgba(24, 24, 24, 0.520);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.copyright-sm {
    margin: 0;
    font-size: smaller;
}  

#socialmediabar {
    height: 25px;
    padding-top: 15px;
}
#socialmediabar:hover, .hover-imgs:hover {
    opacity: 50%;
}

/*ABOVE IS FOOTER CONTENT*/

@media screen and (max-width: 750px){

    .dropbtn {
        display: flex;
    }
    header h1 {
        margin: 5px;
    }
    nav ul {
        padding-left: 0;
    }
    main, aside, section {
        margin: 5px;
        width: 412px;
    }

    main {
        flex-shrink: 3;
        margin: 0 0 0 15px;
        padding: 0;
    }
    

    nav {
        width: 95%;
        margin: 1px;
        padding: 0;
    }

    #firstname, #lastname, #textarea, #submit-buttom  {
        width: 300px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
    }

    #response1 {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    
    #stinson-box, #mosby-box {
        background-color: rgba(241, 241, 241, 0.6);
        padding: 2px 10px;
        border: 1px solid rgba(172, 172, 172, 0.3);
        border-radius: 2px;
    }
    
    #mosby-article {
        display: flex;
        flex-direction: row;
    }

    .footer-inline {
        padding: 5px;
        margin: 0;
        width: auto;
    }

    /* Dropdown Button */
.dropbtn {
  background-color: #c2c2c2;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: auto;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
    display:block;
}
}


